body:not(.notLoggedIn) a.notLoggedIn,
body:not(.loggedIn) a.loggedIn,
body:not(.loggedIn):not(.notLoggedIn) a.loggedIn,
body:not(.loggedIn):not(.notLoggedIn) a.notLoggedIn {
	display: none !important
}
.coinImg {
	height: 1.4em;
	float: right;
}
.packImg {
	transform: rotate(10deg);
	padding-left: 2px
}
body {
	height: 100vh
}
.dropdownArrow {
	float: right
}
