{{ DOCTYPE }}
<html>
	<head>
		<title>My Collection</title>
		{{ SCRIPTS }}
		<script type="text/javascript">
			util.request("GET", "/api/myCards")
			.then(function(res) {
				return util.waitForWindowLoad()
					.then(function() {
						var j = JSON.parse(res);
						var cards = [];
						j.forEach(function(elem) {
							var oldOne = null;
							cards.forEach(function(ele2) {
								if(ele2.card_id == elem.card_id) {
									oldOne = ele2;
								}
							});
							if(!oldOne) {
								cards.push({
									card_id: elem.card_id,
									count: 1
								});
							}
							else {
								oldOne.count++;
							}
						});
						return Q.all(cards.map(function(e) {
							return util.loadCard(e.card_id, "collectionCard col-xs-4 col-md-3 col-lg-2")
								.then(function(obj) {
									document.getElementById('mainContent').appendChild(obj.obj);
									var svgNS = "http://www.w3.org/2000/svg";
									var count = document.createElementNS(svgNS, "text");
									count.textContent = "x"+e.count;
									count.setAttribute("x", 95);
									count.setAttribute("y", 145);
									count.style.textAnchor = "end";
									obj.obj.firstElementChild.appendChild(count);
								})
								.catch(function(err) {
									console.warn(err);
								});
						}));
					})
			})
			.catch(function(err) {
				console.error(err);
			});
			util.request("GET", "/api/myDecks")
			.then(function(res) {
				return util.waitForWindowLoad()
					.then(function() {
						var j = JSON.parse(res);
						var list = document.getElementById('deckList');
						for(var key in j) {
							var elem = document.createElement('a');
							elem.href = "#"+key;
							elem.textContent = j[key];
							elem.className = "list-group-item";
							list.appendChild(elem);
						}
					});
			})
			.catch(console.error);
			window.onhashchange = function() {
				util.waitForWindowLoad()
					.then(function() {
						if(location.hash.length > 1) {
							document.getElementById('deckList').style.display = "none";
							var deckInfo = document.getElementById('deckInfo');
							deckInfo.style.display = "initial";
							document.getElementById('deckName').textContent = location.hash;
							var loading = document.getElementById('deckLoading');
							loading.style.display = "inherit";
							var cardlist = document.getElementById('deckCards');
							util.empty(cardlist);
							util.request("GET", "/api/rawDeck?id="+location.hash.substring(1))
								.then(function(res) {
									var j = JSON.parse(res);
									console.log(j);
									loading.style.display = "none";
									for(var i = 0; i < j.cards.length; i++) {
										var card = j.cards[i];
										var elem = document.createElement('li');
										elem.className = "list-group-item";
										cardlist.appendChild(elem);
										var close = document.createElement('a');
										close.className = "close";
										close.type = "button";
										close.href = "javascript:void(0)";
										close.appendChild(document.createTextNode('×'));
										close.onclick = function() {
											this.parentNode.parentNode.removeChild(this.parentNode);
										};
										elem.appendChild(close);
										(function(elem) {
										util.loadCardInfo(card)
											.then(function(data) {
												elem.appendChild(document.createTextNode(data.Name));
											});
										})(elem);
									}
								});
						}
						else {
							document.getElementById('deckList').style.display = "initial";
							document.getElementById('deckInfo').style.display = "none";
						}
					}).catch(console.error);
			};
			if(location.hash) window.onhashchange();
		</script>
		<style type="text/css">
			.collectionCard {
				padding-bottom: 15px
			}
			#mainContent {
				height: 100%;
				position: relative;
				overflow: auto
			}
			.leftSidebar {
				background-color: red;
				height: 100%
			}
			#deckInfo {
				display: none
			}
			.sidebarFiller {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%
			}
		</style>
	</head>
	<body>
		{{ PAGE_HEADER }}
		<div class="container-fluid sidebarBody" style="height: 100%">
			<div class="leftSidebar col-xs-2 col-lg-1" id="leftSidebar">
				<div id="deckList" class="sidebarFiller list-group"></div>
				<div id="deckInfo" class="sidebarFiller">
					<a type="button" class="close" id="backBtn" href="#"><span aria-hidden="true">&times;</span></a>
					<h3 id="deckName"></h3>
					<pre id="deckLoading">Loading...</pre><br />
					<ul class="list-group" id="deckCards"></ul>
				</div>
			</div>
			<div id="mainContent" class="container-fluid">

			</div>
		</div>
	</body>
</html>
